@charset "UTF-8";

main h1 { margin: 1.5% 0 4% 0; text-align: center; font-size: 35px; font-family: 'Ycomputer-Regular'; }
main .main-conteiner{ display: flex; }
main .imageset-img { width: 30%; justify-content: left; margin: 0 5% 0 20%; }
main .contents-right{ justify-content: right; margin: 0 20% 0 0; }
main .contents-right .scriptCalendar{ text-align:center; }
main .contents-right .scriptCalendar > thead > .days { color:#fffdf5; }
main .contents-right .scriptCalendar > thead > tr > td { width:50px; height:50px; }
main .contents-right .scriptCalendar > thead > tr:first-child > td{font-weight:bold;}
main .contents-right .scriptCalendar > thead > tr:last-child > td{background-color:#1F18F0;}
main .contents-right .scriptCalendar > tbody > tr > td{width:50px;height:50px;}
main .contents-right .scriptCalendar .calendarBtn { cursor:pointer; } 

main .contents-button{ display: flex; flex-flow: nowrap; }
main .contents-button > div { margin: 20px 20px; }
main .contents-button div > img { width: 35px; }
main .contents-button div .inqry{ display: inline-block; text-align: center; text-decoration: none; color: #fff; font-weight: bold; width: 110px; border-radius: 22px; background-color: #F57804; line-height: 44px; }

main .introduction{ padding: 5% 0; font-size: 25px; }
