@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);




#searchBtn {
    width: 110px;
    height: 40px;
    border-radius: 8px;
    color: #FFFDF5;
    background-color: #1F18F0;
    border: none;
    cursor: pointer;
    /* transition: background-color 0.3s; */
}

#searchBtn:hover {
    background-color: #F57804;
}

select {
	padding: 8px 12px;
	font-size: 15px;
	border: 2px solid #ccc;
	border-radius: 8px;
	width: 100px;
	height: 40px;
}


@font-face {
    font-family: 'Ycomputer-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sound-only{
    position: absolute;
    left: -9999em;
}
body{
    font-family: 'GmarketSansMedium' !important;
    background-color: #fffdf5;
}
header {
    background-color: #fffdf5;
    height: 100%;
    /* position: fixed; */
}
header .wrap {
    width: 94%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
header .wrap .logo a img {
    width: 110px;
    padding: 20px 0;
}
header .wrap .gnb-wrap .gnb{
    display: flex;
    flex-direction: row;
}
header .wrap .gnb-wrap .gnb .depth1{
    margin: 35px;
    font-size: 17px;
}
header .wrap .gnb-wrap .gnb .depth1 a{
    font-family: 'GmarketSansMedium';
    font-weight: 100;
    text-decoration: none;
    color: #1F18F0;
}
header .wrap .gnb-wrap .gnb .depth1 a:hover{
    color: #F57804;
}




.content{
	min-height: calc(100vh - 100px);
	padding-bottom: 150px;
}

footer {
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    background-color: #1F18F0;
    height: 150px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

footer ul li{
    margin-left: 50px;
}
footer ul li a {
    color: #fffdf5;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}
footer ul li a:hover {
    color: #F57804;
}