@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


/* 
[순서]
header > body > search button > search bar > select button > footer > font type setup > 임시
*/


/* header */
header {background-color: #FFFDF5; height: 100%;}
header .wrap {width: 94%; max-width: 1280px; margin: 0 auto; display: flex; flex-wrap: nowrap; height: 100%; align-items: center; justify-content: space-between;}
header .wrap .logo a img {width: 110px; padding: 20px 0;}
header .wrap .gnb-wrap .gnb {display: flex; flex-direction: row;}
header .wrap .gnb-wrap .gnb .depth1 {margin: 35px; font-size: 17px;}
header .wrap .gnb-wrap .gnb .depth1 a{font-family: 'GmarketSansMedium'; font-weight: 100; text-decoration: none; color: #1F18F0;}
header .wrap .gnb-wrap .gnb .depth1 a:hover{color: #F57804;}


/* body */
body {font-family: 'GmarketSansMedium'; background-color: #FFFDF5;}
.content {min-height: calc(300vh - 100px); padding-bottom: 150px;} /* 바디에 메인영역 확보 */
.cardset-figure, .cardset-body {display: inline-block; margin-left: 2qrfc w0px;   margin-bottom: 20px; text-align: left; vertical-align: middle;}
.cardset-img {width: 300px;   height: 200px; float: center; margin-top: 10px;   margin-left: 380px;}
.cardset .icon-sm {width: 20px;   margin-bottom: -5px; margin-left: 23px;}
.cardset .icon-big {width: 35px; margin-left: 15px;}
.cardset-tit {font-size: 18px; margin-bottom: 15px;   margin-left: 18px;} /*캠핑장이름*/
.cardset-desc {font-size: 13px;   margin-bottom: 10px; margin-left: 18px;} /*한줄소개*/
.textset-tit {text-align: center;}
/* search button */
#searchBtn {font-family: 'GmarketSansMedium'; width: 80px; height: 20px; border-radius: 6px; color: #FFFDF5; font-size: 13px; background-color: #F57804; border: none; cursor: pointer;}
#searchBtn:hover {color: #FFFDF5; background-color: #1F18F0;}

/* search bar */
#search{font-family: 'GmarketSansMedium'; font-size: 12px; width: 188px; height: 15px; border: 2px solid #ccc; border-radius: 6px; padding: 0 16px;   text-align: center;}

/* select button */
select {font-family: 'GmarketSansMedium'; font-size: 10px; border: 2px solid #ccc; border-radius: 6px;}


/* footer */
footer {position: fixed; font-family: 'GmarketSansMedium'; font-size: 12px !important; color: #fffdf5; background-color: #1F18F0 !important; height: 100px; text-align: center; width: 100%;}
footer ul li {margin-left: 50px;}
footer ul li a {color: #FFFDF5; text-align: center; display: inline-block; font-size: 15px; text-decoration: none;}
footer ul li a:hover {color: #F57804;}


/* font type setup */
@font-face {font-family: 'Ycomputer-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');    font-weight: normal; font-style: normal;}

/********** 기타 **********/
/* 청각장애인을 위한 음성지원영역 */
.sound-only{position: absolute; left: -9999em;}