@charset "utf-8";/* ========== */

/* footer */
footer {position: relative; display: none; bottom: 0px; font-family: 'GmarketSansMedium'; font-size: 12px !important; color: #fffdf5; background-color: #1F18F0 !important; height: 100px; text-align: center; width: 100%;}
footer ul li {margin-left: 50px;}
footer ul li a {color: #FFFDF5; text-align: center; display: inline-block; font-size: 15px; text-decoration: none;}
footer ul li a:hover {color: #F57804;}